Repository hellosign/hellosign-openapi, pull requests merged in 2023-03, with the labels that each got.

#263 Fix bad copy for signature request create embedded expires at
  openapi-raw.yaml
  openapi-sdk.yaml
  openapi.yaml
  sdks/dotnet/docs/SignatureRequestCreateEmbeddedRequest.md
  sdks/dotnet/src/Dropbox.Sign/Model/SignatureRequestCreateEmbeddedRequest.cs
  sdks/java/docs/SignatureRequestCreateEmbeddedRequest.md
  sdks/java/src/main/java/com/dropbox/sign/model/SignatureRequestCreateEmbeddedRequest.java
  sdks/node/docs/model/SignatureRequestCreateEmbeddedRequest.md
  sdks/node/model/signatureRequestCreateEmbeddedRequest.ts
  sdks/php/docs/Model/SignatureRequestCreateEmbeddedRequest.md
  sdks/php/src/Model/SignatureRequestCreateEmbeddedRequest.php
  sdks/python/docs/SignatureRequestCreateEmbeddedRequest.md
  sdks/python/dropbox_sign/model/signature_request_create_embedded_request.py
  sdks/ruby/docs/SignatureRequestCreateEmbeddedRequest.md
  sdks/ruby/lib/dropbox-sign/models/signature_request_create_embedded_request.rb
Labels: documentation, SDK - Dotnet, SDK - Java, SDK - Node, SDK - PHP, SDK - Python, SDK - Ruby

#266 PHP - Fixes sandbox command
  bin/sandbox-php
  bin/sandbox-php.php
Labels: SDK - PHP

#265 Java - upgrades Gradle to 6.9.4
  sdks/java/gradle/wrapper/gradle-wrapper.properties
  sdks/java/templates/gradle-wrapper.properties.mustache
Labels: SDK - Java

#267 Bumping SDKs to 1.1.1
  sdks/dotnet/README.md
  sdks/dotnet/VERSION
  sdks/dotnet/openapi-config.yaml
  sdks/dotnet/src/Dropbox.Sign/Client/Configuration.cs
  sdks/dotnet/src/Dropbox.Sign/Dropbox.Sign.csproj
  sdks/java/README.md
  sdks/java/VERSION
  sdks/java/build.gradle
  sdks/java/build.sbt
  sdks/java/gradle.properties
  sdks/java/openapi-config.yaml
  sdks/java/pom.xml
  sdks/java/src/main/java/com/dropbox/sign/ApiClient.java
  sdks/node/VERSION
  sdks/node/openapi-config.yaml
  sdks/node/package-lock.json
  sdks/node/package.json
  sdks/php/README.md
  sdks/php/VERSION
  sdks/php/openapi-config.yaml
  sdks/php/src/Configuration.php
  sdks/python/README.md
  sdks/python/VERSION
  sdks/python/dropbox_sign/__init__.py
  sdks/python/dropbox_sign/api_client.py
  sdks/python/dropbox_sign/configuration.py
  sdks/python/openapi-config.yaml
  sdks/python/setup.py
  sdks/ruby/.travis.yml
  sdks/ruby/Gemfile.lock
  sdks/ruby/README.md
  sdks/ruby/VERSION
  sdks/ruby/lib/dropbox-sign/version.rb
  sdks/ruby/openapi-config.yaml
Labels: SDK - Dotnet, SDK - Java, SDK - Node, SDK - PHP, SDK - Python, SDK - Ruby

#268 Dotnet/Node - Fix user agent
  sdks/dotnet/src/Dropbox.Sign/Client/Configuration.cs
  sdks/dotnet/templates/Configuration.mustache
  sdks/node/api/accountApi.ts
  sdks/node/api/apiAppApi.ts
  sdks/node/api/apis.ts
  sdks/node/api/bulkSendJobApi.ts
  sdks/node/api/embeddedApi.ts
  sdks/node/api/oAuthApi.ts
  sdks/node/api/reportApi.ts
  sdks/node/api/signatureRequestApi.ts
  sdks/node/api/teamApi.ts
  sdks/node/api/templateApi.ts
  sdks/node/api/unclaimedDraftApi.ts
  sdks/node/dist/api.js
  sdks/node/templates/api-all.mustache
  sdks/node/templates/api-single.mustache
  sdks/node/types/api/apis.d.ts
Labels: SDK - Dotnet, SDK - Node

#270 Node - Remove Axios max content/body length
  sdks/node/api/accountApi.ts
  sdks/node/api/apiAppApi.ts
  sdks/node/api/bulkSendJobApi.ts
  sdks/node/api/embeddedApi.ts
  sdks/node/api/oAuthApi.ts
  sdks/node/api/reportApi.ts
  sdks/node/api/signatureRequestApi.ts
  sdks/node/api/teamApi.ts
  sdks/node/api/templateApi.ts
  sdks/node/api/unclaimedDraftApi.ts
  sdks/node/dist/api.js
  sdks/node/templates/api-single.mustache
Labels: SDK - Node

#273 DotNet - Revert user agent change
  sdks/dotnet/src/Dropbox.Sign/Client/Configuration.cs
  sdks/dotnet/templates/Configuration.mustache
Labels: release fix, SDK - Dotnet

#276 upgrade to gradle 7 for Java SDK & github actions changes
  sdks/java/.github/workflows/close-and-release-repository.yml
  sdks/java/.github/workflows/github-actions.yml
  sdks/java/bin/gradle
  sdks/java/build.gradle
  sdks/java/gradle/wrapper/gradle-wrapper.properties
  sdks/java/templates/gradle-wrapper.properties.mustache
  sdks/java/templates/libraries/jersey2/build.gradle.mustache
Labels: SDK - Java

#277 Node - Proper buffer upload support
  examples/SignatureRequestSend.js
  examples/SignatureRequestSend.ts
  sdks/node/api/apis.ts
  sdks/node/dist/api.js
  sdks/node/templates/api-all.mustache
Labels: SDK - Node

#278 Node - Can only upload fs.ReadStream | RequestDetailedFile; buffer filename/contentType required
  sdks/node/docs/api/SignatureRequestApi.md
  sdks/node/model/models.ts
  sdks/node/templates/models.mustache
  sdks/node/types/model/models.d.ts
Labels: SDK - Node

#283 Updated code sample for cURL
  examples/EmbeddedEditUrl.sh
Labels: code example
