Repository hellosign/hellosign-openapi, pull requests merged in 2023-02, with the labels that each got.

#246 Fix examples cc_email_addresses
  examples/SignatureRequestCreateEmbedded.cs
  examples/SignatureRequestCreateEmbedded.java
  examples/SignatureRequestCreateEmbedded.js
  examples/SignatureRequestCreateEmbedded.php
  examples/SignatureRequestCreateEmbedded.py
  examples/SignatureRequestCreateEmbedded.rb
  examples/SignatureRequestCreateEmbedded.sh
  examples/SignatureRequestCreateEmbedded.ts
  examples/SignatureRequestSend.cs
  examples/SignatureRequestSend.java
  examples/SignatureRequestSend.js
  examples/SignatureRequestSend.php
  examples/SignatureRequestSend.py
  examples/SignatureRequestSend.rb
  examples/SignatureRequestSend.sh
  examples/SignatureRequestSend.ts
  examples/UnclaimedDraftCreate.cs
  examples/UnclaimedDraftCreate.java
  examples/UnclaimedDraftCreate.js
  examples/UnclaimedDraftCreate.php
  examples/UnclaimedDraftCreate.py
  examples/UnclaimedDraftCreate.rb
  examples/UnclaimedDraftCreate.sh
  examples/UnclaimedDraftCreate.ts
  sdks/dotnet/docs/SignatureRequestApi.md
  sdks/dotnet/docs/UnclaimedDraftApi.md
  sdks/java/docs/SignatureRequestApi.md
  sdks/java/docs/UnclaimedDraftApi.md
  sdks/node/docs/api/SignatureRequestApi.md
  sdks/node/docs/api/UnclaimedDraftApi.md
  sdks/php/docs/Api/SignatureRequestApi.md
  sdks/php/docs/Api/UnclaimedDraftApi.md
  sdks/python/docs/SignatureRequestApi.md
  sdks/python/docs/UnclaimedDraftApi.md
  sdks/ruby/docs/SignatureRequestApi.md
  sdks/ruby/docs/UnclaimedDraftApi.md
Labels: SDK - Dotnet, SDK - Java, SDK - Node, SDK - PHP, SDK - Python, SDK - Ruby

#251 Adds more stuff to .npmignore
  sdks/node/.npmignore
  sdks/node/templates/npmignore
Labels: SDK - Node

#252 Version bump to 1.0.1
  sdks/dotnet/README.md
  sdks/dotnet/VERSION
  sdks/dotnet/openapi-config.yaml
  sdks/dotnet/src/Dropbox.Sign/Client/Configuration.cs
  sdks/dotnet/src/Dropbox.Sign/Dropbox.Sign.csproj
  sdks/java/README.md
  sdks/java/VERSION
  sdks/java/build.gradle
  sdks/java/build.sbt
  sdks/java/gradle.properties
  sdks/java/openapi-config.yaml
  sdks/java/pom.xml
  sdks/java/src/main/java/com/dropbox/sign/ApiClient.java
  sdks/node/VERSION
  sdks/node/openapi-config.yaml
  sdks/node/package-lock.json
  sdks/node/package.json
  sdks/php/README.md
  sdks/php/VERSION
  sdks/php/openapi-config.yaml
  sdks/php/src/Configuration.php
  sdks/python/README.md
  sdks/python/VERSION
  sdks/python/dropbox_sign/__init__.py
  sdks/python/dropbox_sign/api_client.py
  sdks/python/dropbox_sign/configuration.py
  sdks/python/openapi-config.yaml
  sdks/python/setup.py
  sdks/ruby/.travis.yml
  sdks/ruby/Gemfile.lock
  sdks/ruby/README.md
  sdks/ruby/VERSION
  sdks/ruby/lib/dropbox-sign/version.rb
  sdks/ruby/openapi-config.yaml
Labels: SDK - Dotnet, SDK - Java, SDK - Node, SDK - PHP, SDK - Python, SDK - Ruby

#253 improve maven publishing - increase timeout and add a new gh action
  sdks/java/.github/workflows/close-and-release-repository.yml
  sdks/java/gradle.properties
  sdks/java/templates/gradle.properties.mustache
Labels: SDK - Java

#260 Java - Support method overloading
  sdks/java/bin/generate-overload-methods.php
  sdks/java/run-build
  sdks/java/src/main/java/com/dropbox/sign/api/AccountApi.java
  sdks/java/src/main/java/com/dropbox/sign/api/ApiAppApi.java
  sdks/java/src/main/java/com/dropbox/sign/api/BulkSendJobApi.java
  sdks/java/src/main/java/com/dropbox/sign/api/EmbeddedApi.java
  sdks/java/src/main/java/com/dropbox/sign/api/OAuthApi.java
  sdks/java/src/main/java/com/dropbox/sign/api/ReportApi.java
  sdks/java/src/main/java/com/dropbox/sign/api/SignatureRequestApi.java
  sdks/java/src/main/java/com/dropbox/sign/api/TeamApi.java
  sdks/java/src/main/java/com/dropbox/sign/api/TemplateApi.java
  sdks/java/src/main/java/com/dropbox/sign/api/UnclaimedDraftApi.java
  sdks/java/templates/libraries/jersey2/api.mustache
Labels: SDK - Java

#258 Fixes dotnet unit tests
  sandbox/dotnet/dropbox_sign_sandbox.csproj
  sdks/dotnet/src/Dropbox.Sign.Test/Api/AccountApiTests.cs
  sdks/dotnet/src/Dropbox.Sign.Test/Api/ApiAppApiTests.cs
  sdks/dotnet/src/Dropbox.Sign.Test/Api/BulkSendJobApiTests.cs
  sdks/dotnet/src/Dropbox.Sign.Test/Api/EmbeddedApiTests.cs
  sdks/dotnet/src/Dropbox.Sign.Test/Api/OAuthApiTests.cs
  sdks/dotnet/src/Dropbox.Sign.Test/Api/ReportApiTests.cs
  sdks/dotnet/src/Dropbox.Sign.Test/Api/SignatureRequestApiTests.cs
  sdks/dotnet/src/Dropbox.Sign.Test/Api/TeamApiTests.cs
  sdks/dotnet/src/Dropbox.Sign.Test/Api/TemplateApiTests.cs
  sdks/dotnet/src/Dropbox.Sign.Test/Api/UnclaimedDraftApiTests.cs
  sdks/dotnet/src/Dropbox.Sign.Test/Dropbox.Sign.Test.csproj
  sdks/dotnet/src/Dropbox.Sign.Test/TestHelper.cs
  sdks/dotnet/src/Dropbox.Sign/Client/ApiClient.cs
  sdks/dotnet/templates/ApiClient.mustache
  test_fixtures/AccountCreateResponse.json
  test_fixtures/ApiAppGetResponse.json
  test_fixtures/ApiAppListResponse.json
  test_fixtures/BulkSendJobGetResponse.json
  test_fixtures/SignatureRequestGetResponse.json
  test_fixtures/SignatureRequestListResponse.json
  test_fixtures/TemplateGetResponse.json
  test_fixtures/TemplateListResponse.json
Labels: SDK - Dotnet

#255 Add page and page_size to BulkSendJobGet
  openapi-raw.yaml
  openapi-sdk.yaml
  openapi.yaml
  sdks/dotnet/docs/BulkSendJobApi.md
  sdks/dotnet/src/Dropbox.Sign/Api/BulkSendJobApi.cs
  sdks/java/docs/BulkSendJobApi.md
  sdks/java/src/main/java/com/dropbox/sign/api/BulkSendJobApi.java
  sdks/node/api/bulkSendJobApi.ts
  sdks/node/dist/api.js
  sdks/node/docs/api/BulkSendJobApi.md
  sdks/node/types/api/bulkSendJobApi.d.ts
  sdks/php/docs/Api/BulkSendJobApi.md
  sdks/php/src/Api/BulkSendJobApi.php
  sdks/python/docs/BulkSendJobApi.md
  sdks/python/dropbox_sign/api/bulk_send_job_api.py
  sdks/ruby/docs/BulkSendJobApi.md
  sdks/ruby/lib/dropbox-sign/api/bulk_send_job_api.rb
  translations/en.yaml
Labels: SDK - Dotnet, SDK - Java, SDK - Node, SDK - PHP, SDK - Python, SDK - Ruby

#254 Adding invited_emails
  examples/json/TeamAddMemberResponseExample.json
  examples/json/TeamCreateResponseExample.json
  examples/json/TeamGetResponseExample.json
  examples/json/TeamRemoveMemberResponseExample.json
  examples/json/TeamUpdateResponseExample.json
  openapi-raw.yaml
  openapi-sdk.yaml
  openapi.yaml
  sdks/dotnet/docs/TeamResponse.md
  sdks/dotnet/src/Dropbox.Sign/Model/TeamResponse.cs
  sdks/java/docs/TeamResponse.md
  sdks/java/src/main/java/com/dropbox/sign/model/TeamResponse.java
  sdks/node/dist/api.js
  sdks/node/docs/model/TeamResponse.md
  sdks/node/model/teamResponse.ts
  sdks/node/types/model/teamResponse.d.ts
  sdks/php/docs/Model/TeamResponse.md
  sdks/php/src/Model/TeamResponse.php
  sdks/python/docs/TeamResponse.md
  sdks/python/dropbox_sign/model/team_response.py
  sdks/ruby/docs/TeamResponse.md
  sdks/ruby/lib/dropbox-sign/models/team_response.rb
  translations/en.yaml
Labels: SDK - Dotnet, SDK - Java, SDK - Node, SDK - PHP, SDK - Python, SDK - Ruby

#261 Bumping SDKs to 1.1.0
  sdks/dotnet/README.md
  sdks/dotnet/VERSION
  sdks/dotnet/openapi-config.yaml
  sdks/dotnet/src/Dropbox.Sign/Client/Configuration.cs
  sdks/dotnet/src/Dropbox.Sign/Dropbox.Sign.csproj
  sdks/java/README.md
  sdks/java/VERSION
  sdks/java/build.gradle
  sdks/java/build.sbt
  sdks/java/gradle.properties
  sdks/java/openapi-config.yaml
  sdks/java/pom.xml
  sdks/java/src/main/java/com/dropbox/sign/ApiClient.java
  sdks/node/VERSION
  sdks/node/openapi-config.yaml
  sdks/node/package-lock.json
  sdks/node/package.json
  sdks/php/README.md
  sdks/php/VERSION
  sdks/php/openapi-config.yaml
  sdks/php/src/Configuration.php
  sdks/python/README.md
  sdks/python/VERSION
  sdks/python/dropbox_sign/__init__.py
  sdks/python/dropbox_sign/api_client.py
  sdks/python/dropbox_sign/configuration.py
  sdks/python/openapi-config.yaml
  sdks/python/setup.py
  sdks/ruby/.travis.yml
  sdks/ruby/Gemfile.lock
  sdks/ruby/README.md
  sdks/ruby/VERSION
  sdks/ruby/lib/dropbox-sign/version.rb
  sdks/ruby/openapi-config.yaml
Labels: SDK - Dotnet, SDK - Java, SDK - Node, SDK - PHP, SDK - Python, SDK - Ruby
