Repository hellosign/hellosign-openapi, pull requests merged in 2023-06, with the labels that each got.

#294 OAuth examples should not use API key
  examples/OauthTokenGenerate.cs
  examples/OauthTokenGenerate.java
  examples/OauthTokenGenerate.js
  examples/OauthTokenGenerate.py
  examples/OauthTokenGenerate.rb
  examples/OauthTokenGenerate.sh
  examples/OauthTokenGenerate.ts
  examples/OauthTokenRefresh.cs
  examples/OauthTokenRefresh.java
  examples/OauthTokenRefresh.js
  examples/OauthTokenRefresh.py
  examples/OauthTokenRefresh.rb
  examples/OauthTokenRefresh.sh
  examples/OauthTokenRefresh.ts
  sdks/dotnet/docs/OAuthApi.md
  sdks/java/docs/OAuthApi.md
  sdks/node/docs/api/OAuthApi.md
  sdks/python/docs/OAuthApi.md
  sdks/ruby/docs/OAuthApi.md
Labels: code example, SDK - Dotnet, SDK - Java, SDK - Node, SDK - PHP, SDK - Python, SDK - Ruby

#295 "Update Signature Request" changes signature_id when updating email address
  openapi-sdk.yaml
  openapi.yaml
  sdks/dotnet/docs/SignatureRequestApi.md
  sdks/dotnet/docs/SignatureRequestUpdateRequest.md
  sdks/dotnet/src/Dropbox.Sign/Api/SignatureRequestApi.cs
  sdks/dotnet/src/Dropbox.Sign/Model/SignatureRequestUpdateRequest.cs
  sdks/java/docs/SignatureRequestApi.md
  sdks/java/docs/SignatureRequestUpdateRequest.md
  sdks/java/src/main/java/com/dropbox/sign/api/SignatureRequestApi.java
  sdks/java/src/main/java/com/dropbox/sign/model/SignatureRequestUpdateRequest.java
  sdks/node/api/signatureRequestApi.ts
  sdks/node/docs/api/SignatureRequestApi.md
  sdks/node/docs/model/SignatureRequestUpdateRequest.md
  sdks/node/model/signatureRequestUpdateRequest.ts
  sdks/php/docs/Api/SignatureRequestApi.md
  sdks/php/docs/Model/SignatureRequestUpdateRequest.md
  sdks/php/src/Model/SignatureRequestUpdateRequest.php
  sdks/python/docs/SignatureRequestApi.md
  sdks/python/docs/SignatureRequestUpdateRequest.md
  sdks/python/dropbox_sign/api/signature_request_api.py
  sdks/python/dropbox_sign/model/signature_request_update_request.py
  sdks/ruby/docs/SignatureRequestApi.md
  sdks/ruby/docs/SignatureRequestUpdateRequest.md
  sdks/ruby/lib/dropbox-sign/api/signature_request_api.rb
  sdks/ruby/lib/dropbox-sign/models/signature_request_update_request.rb
  translations/en.yaml
Labels: documentation, SDK - Dotnet, SDK - Java, SDK - Node, SDK - PHP, SDK - Python, SDK - Ruby

#299 Remove beta tag from signature request expiration date
  openapi-raw.yaml
  openapi-sdk.yaml
  openapi.yaml
Labels: documentation, copy
