Repository hellosign/hellosign-openapi, pull requests merged in 2023-11, with the labels that each got.

#323 Use multipart/form-data header for requests with only files parameter
  sdks/python/dropbox_sign/api_client.py
  sdks/python/templates/api_client.mustache
Labels: bug, SDK - Python

#329 Upgrading axios to ^1.6.0. Fixes #328
  sandbox/node/package.json
  sdks/node/bin/node
  sdks/node/dist/api.js
  sdks/node/jest.config.ts
  sdks/node/package-lock.json
  sdks/node/package.json
  sdks/node/templates/package.mustache
  sdks/node/types/model/models.d.ts
Labels: 🔥 hotfix 🔥, SDK - Node

#331 update the create template response docs with the correct sub object
  openapi-raw.yaml
  openapi-sdk.yaml
  openapi.yaml
  sdks/dotnet/docs/TemplateCreateResponse.md
  sdks/dotnet/src/Dropbox.Sign/Model/TemplateCreateResponse.cs
  sdks/java/docs/TemplateCreateResponse.md
  sdks/java/src/main/java/com/dropbox/sign/model/TemplateCreateResponse.java
  sdks/node/dist/api.js
  sdks/node/docs/model/TemplateCreateResponse.md
  sdks/node/model/templateCreateResponse.ts
  sdks/node/types/model/templateCreateResponse.d.ts
  sdks/php/docs/Model/TemplateCreateResponse.md
  sdks/php/src/Model/TemplateCreateResponse.php
  sdks/python/docs/TemplateCreateResponse.md
  sdks/python/dropbox_sign/model/template_create_response.py
  sdks/ruby/docs/TemplateCreateResponse.md
  sdks/ruby/lib/dropbox-sign/models/template_create_response.rb
Labels: SDK - Dotnet, SDK - Java, SDK - Node, SDK - PHP, SDK - Python, SDK - Ruby
