Repository hellosign/hellosign-openapi, pull requests merged in 2024-03, with the labels that each got.

#355 create v2 sandbox and fix errors in v1 sandbox
  README.md
  bin/sandbox-java-v1
  bin/sandbox-java-v2
  sandbox/.gitignore
  sandbox/java-v1/pdf-sample.pdf
  sandbox/java-v1/pom.xml
  sandbox/java-v1/src/main/java/com/dropbox/sign_sandbox/Main.java
  sandbox/java-v2/pdf-sample.pdf
  sandbox/java-v2/pom.xml
  sandbox/java-v2/src/main/java/com/dropbox/sign_sandbox/Main.java
Labels: SDK - Java

#359 Added definition final_copy_uri
  openapi-raw.yaml
  openapi-sdk.yaml
  openapi.yaml
  sdks/dotnet/docs/BulkSendJobGetResponseSignatureRequests.md
  sdks/dotnet/docs/SignatureRequestResponse.md
  sdks/dotnet/src/Dropbox.Sign/Model/BulkSendJobGetResponseSignatureRequests.cs
  sdks/dotnet/src/Dropbox.Sign/Model/SignatureRequestResponse.cs
  sdks/java-v1/docs/BulkSendJobGetResponseSignatureRequests.md
  sdks/java-v1/docs/SignatureRequestResponse.md
  sdks/java-v1/src/main/java/com/dropbox/sign/model/BulkSendJobGetResponseSignatureRequests.java
  sdks/java-v1/src/main/java/com/dropbox/sign/model/SignatureRequestResponse.java
  sdks/java-v2/docs/BulkSendJobGetResponseSignatureRequests.md
  sdks/java-v2/docs/SignatureRequestResponse.md
  sdks/java-v2/src/main/java/com/dropbox/sign/model/BulkSendJobGetResponseSignatureRequests.java
  sdks/java-v2/src/main/java/com/dropbox/sign/model/SignatureRequestResponse.java
  sdks/node/dist/api.js
  sdks/node/docs/model/BulkSendJobGetResponseSignatureRequests.md
  sdks/node/docs/model/SignatureRequestResponse.md
  sdks/node/model/bulkSendJobGetResponseSignatureRequests.ts
  sdks/node/model/signatureRequestResponse.ts
  sdks/node/types/model/bulkSendJobGetResponseSignatureRequests.d.ts
  sdks/node/types/model/signatureRequestResponse.d.ts
  sdks/php/docs/Model/BulkSendJobGetResponseSignatureRequests.md
  sdks/php/docs/Model/SignatureRequestResponse.md
  sdks/php/src/Model/BulkSendJobGetResponseSignatureRequests.php
  sdks/php/src/Model/SignatureRequestResponse.php
  sdks/python/docs/BulkSendJobGetResponseSignatureRequests.md
  sdks/python/docs/SignatureRequestResponse.md
  sdks/python/dropbox_sign/model/bulk_send_job_get_response_signature_requests.py
  sdks/python/dropbox_sign/model/signature_request_response.py
  sdks/ruby/docs/BulkSendJobGetResponseSignatureRequests.md
  sdks/ruby/docs/SignatureRequestResponse.md
  sdks/ruby/lib/dropbox-sign/models/bulk_send_job_get_response_signature_requests.rb
  sdks/ruby/lib/dropbox-sign/models/signature_request_response.rb
  translations/en.yaml
Labels: SDK - Dotnet, SDK - Java, SDK - Node, SDK - PHP, SDK - Python, SDK - Ruby, MINOR version bump

#360 Replace crypto-js with native library
  sdks/node/dist/api.js
  sdks/node/model/eventCallbackHelper.ts
  sdks/node/package-lock.json
  sdks/node/package.json
  sdks/node/templates/eventCallbackHelper.mustache
  sdks/node/templates/package.mustache
Labels: SDK - Node, MINOR version bump
