Repository hellosign/hellosign-openapi, pull requests merged in 2024-10, with the labels that each got.

#434 Improvements to BulkSendJob response; reduces nullability, sets defaults
  openapi-raw.yaml
  openapi-sdk.yaml
  openapi.yaml
  sdks/dotnet/docs/BulkSendJobResponse.md
  sdks/dotnet/src/Dropbox.Sign/Model/BulkSendJobResponse.cs
  sdks/java-v1/docs/BulkSendJobResponse.md
  sdks/java-v1/src/main/java/com/dropbox/sign/model/BulkSendJobResponse.java
  sdks/java-v2/docs/BulkSendJobResponse.md
  sdks/java-v2/src/main/java/com/dropbox/sign/model/BulkSendJobResponse.java
  sdks/node/docs/model/BulkSendJobResponse.md
  sdks/node/model/bulkSendJobResponse.ts
  sdks/node/types/model/bulkSendJobResponse.d.ts
  sdks/php/docs/Model/BulkSendJobResponse.md
  sdks/php/src/Model/BulkSendJobResponse.php
  sdks/python/docs/BulkSendJobResponse.md
  sdks/python/dropbox_sign/models/bulk_send_job_response.py
  sdks/ruby/docs/BulkSendJobResponse.md
  sdks/ruby/lib/dropbox-sign/models/bulk_send_job_response.rb
Labels: SDK - Dotnet, SDK - Java, SDK - Node, SDK - PHP, SDK - Python, SDK - Ruby, MINOR version bump

#436 Improvements to FaxLine response; reduces nullability
  openapi-raw.yaml
  openapi-sdk.yaml
  openapi.yaml
  sdks/dotnet/docs/FaxLineResponseFaxLine.md
  sdks/dotnet/src/Dropbox.Sign/Model/FaxLineResponseFaxLine.cs
  sdks/java-v1/docs/FaxLineResponseFaxLine.md
  sdks/java-v1/src/main/java/com/dropbox/sign/model/FaxLineResponseFaxLine.java
  sdks/java-v2/docs/FaxLineResponseFaxLine.md
  sdks/java-v2/src/main/java/com/dropbox/sign/model/FaxLineResponseFaxLine.java
  sdks/node/docs/model/FaxLineResponseFaxLine.md
  sdks/node/model/faxLineResponseFaxLine.ts
  sdks/node/types/model/faxLineResponseFaxLine.d.ts
  sdks/php/docs/Model/FaxLineResponseFaxLine.md
  sdks/php/src/Model/FaxLineResponseFaxLine.php
  sdks/python/docs/FaxLineResponseFaxLine.md
  sdks/python/dropbox_sign/models/fax_line_response_fax_line.py
  sdks/ruby/docs/FaxLineResponseFaxLine.md
  sdks/ruby/lib/dropbox-sign/models/fax_line_response_fax_line.rb
Labels: SDK - Dotnet, SDK - Java, SDK - Node, SDK - PHP, SDK - Python, SDK - Ruby, MINOR version bump

#439 Improvements to Team response; reduces nullability
  examples/json/TeamAddMemberResponseExample.json
  examples/json/TeamGetResponseExample.json
  examples/json/TeamRemoveMemberResponseExample.json
  examples/json/TeamUpdateResponseExample.json
  openapi-raw.yaml
  openapi-sdk.yaml
  openapi.yaml
  sdks/dotnet/docs/TeamResponse.md
  sdks/dotnet/src/Dropbox.Sign/Model/TeamResponse.cs
  sdks/java-v1/docs/TeamResponse.md
  sdks/java-v1/src/main/java/com/dropbox/sign/model/TeamResponse.java
  sdks/java-v2/docs/TeamResponse.md
  sdks/java-v2/src/main/java/com/dropbox/sign/model/TeamResponse.java
  sdks/node/docs/model/TeamResponse.md
  sdks/node/model/teamResponse.ts
  sdks/node/types/model/teamResponse.d.ts
  sdks/php/docs/Model/TeamResponse.md
  sdks/php/src/Model/TeamResponse.php
  sdks/python/docs/TeamResponse.md
  sdks/python/dropbox_sign/models/team_response.py
  sdks/ruby/docs/TeamResponse.md
  sdks/ruby/lib/dropbox-sign/models/team_response.rb
  test_fixtures/TeamGetResponse.json
Labels: SDK - Dotnet, SDK - Java, SDK - Node, SDK - PHP, SDK - Python, SDK - Ruby, MINOR version bump

#435 added client_id and client_secret for refreshing token
  openapi-raw.yaml
  openapi-sdk.yaml
  openapi.yaml
  sdks/dotnet/docs/OAuthApi.md
  sdks/dotnet/docs/OAuthTokenRefreshRequest.md
  sdks/dotnet/src/Dropbox.Sign/Model/OAuthTokenRefreshRequest.cs
  sdks/java-v1/docs/OAuthApi.md
  sdks/java-v1/docs/OAuthTokenRefreshRequest.md
  sdks/java-v1/src/main/java/com/dropbox/sign/api/OAuthApi.java
  sdks/java-v1/src/main/java/com/dropbox/sign/model/OAuthTokenRefreshRequest.java
  sdks/java-v2/docs/OAuthApi.md
  sdks/java-v2/docs/OAuthTokenRefreshRequest.md
  sdks/java-v2/src/main/java/com/dropbox/sign/api/OAuthApi.java
  sdks/java-v2/src/main/java/com/dropbox/sign/model/OAuthTokenRefreshRequest.java
  sdks/node/api/oAuthApi.ts
  sdks/node/dist/api.js
  sdks/node/docs/model/OAuthTokenRefreshRequest.md
  sdks/node/model/oAuthTokenRefreshRequest.ts
  sdks/node/types/model/oAuthTokenRefreshRequest.d.ts
  sdks/php/docs/Model/OAuthTokenRefreshRequest.md
  sdks/php/src/Api/OAuthApi.php
  sdks/php/src/Model/OAuthTokenRefreshRequest.php
  sdks/python/docs/OAuthApi.md
  sdks/python/docs/OAuthTokenRefreshRequest.md
  sdks/python/dropbox_sign/api/o_auth_api.py
  sdks/python/dropbox_sign/models/o_auth_token_refresh_request.py
  sdks/ruby/docs/OAuthTokenRefreshRequest.md
  sdks/ruby/lib/dropbox-sign/api/o_auth_api.rb
  sdks/ruby/lib/dropbox-sign/models/o_auth_token_refresh_request.rb
  translations/en.yaml
Labels: documentation, SDK - Dotnet, SDK - Java, SDK - Node, SDK - PHP, SDK - Python, SDK - Ruby, MINOR version bump

#445 AccountResponse AccountQuotas remove default values
  openapi-raw.yaml
  openapi-sdk.yaml
  openapi.yaml
  sdks/dotnet/docs/AccountResponseQuotas.md
  sdks/dotnet/src/Dropbox.Sign/Model/AccountResponseQuotas.cs
  sdks/java-v1/src/main/java/com/dropbox/sign/model/AccountResponseQuotas.java
  sdks/java-v2/src/main/java/com/dropbox/sign/model/AccountResponseQuotas.java
  sdks/node/dist/api.js
  sdks/node/docs/model/AccountResponseQuotas.md
  sdks/node/model/accountResponseQuotas.ts
  sdks/php/docs/Model/AccountResponseQuotas.md
  sdks/php/src/Model/AccountResponseQuotas.php
  sdks/python/docs/AccountResponseQuotas.md
  sdks/python/dropbox_sign/models/account_response_quotas.py
  sdks/ruby/docs/AccountResponseQuotas.md
  sdks/ruby/lib/dropbox-sign/models/account_response_quotas.rb
Labels: SDK - Dotnet, SDK - Java, SDK - Node, SDK - PHP, SDK - Python, SDK - Ruby

#447 Cleanup generated files before new generation
  sdks/dotnet/run-build
  sdks/dotnet/src/Dropbox.Sign/Model/FaxLine.cs
  sdks/dotnet/src/Dropbox.Sign/Model/FaxResponseFax.cs
  sdks/dotnet/src/Dropbox.Sign/Model/FaxResponseFaxTransmission.cs
  sdks/dotnet/src/Dropbox.Sign/Model/SignatureRequestEditEmbeddedRequest.cs
  sdks/dotnet/src/Dropbox.Sign/Model/SignatureRequestEditEmbeddedWithTemplateRequest.cs
  sdks/dotnet/src/Dropbox.Sign/Model/SignatureRequestEditRequest.cs
  sdks/dotnet/src/Dropbox.Sign/Model/SignatureRequestEditWithTemplateRequest.cs
  sdks/dotnet/src/Dropbox.Sign/Model/SubFile.cs
  sdks/dotnet/src/Dropbox.Sign/Model/TemplateResponseCustomField.cs
  sdks/dotnet/src/Dropbox.Sign/Model/TemplateResponseDocumentCustomField.cs
  sdks/dotnet/src/Dropbox.Sign/Model/TemplateResponseDocumentFormField.cs
  sdks/dotnet/src/Dropbox.Sign/Model/TemplateResponseDocumentStaticField.cs
  sdks/dotnet/src/Dropbox.Sign/Model/TemplateResponseNamedFormField.cs
  sdks/java-v1/run-build
  sdks/java-v2/run-build
  sdks/node/run-build
  sdks/php/run-build
  sdks/python/dropbox_sign/models/fax_response_fax.py
  sdks/python/dropbox_sign/models/fax_response_fax_transmission.py
  sdks/python/dropbox_sign/models/sub_file.py
  sdks/python/run-build
  sdks/ruby/run-build
Labels: SDK - Dotnet, SDK - Java, SDK - Node, SDK - PHP, SDK - Python, SDK - Ruby

#450 Fix FaxFiles.rb formatting
  examples/FaxFiles.rb
Labels: SDK - Ruby
