Repository hellosign/hellosign-openapi, pull requests merged in 2024-04, with the labels that each got.

#364 Event metadata is nullable
  openapi-raw.yaml
  openapi-sdk.yaml
  openapi.yaml
  sdks/dotnet/docs/EventCallbackRequestEvent.md
  sdks/dotnet/src/Dropbox.Sign.Test/EventCallbackHelperTests.cs
  sdks/dotnet/src/Dropbox.Sign/EventCallbackHelper.cs
  sdks/dotnet/src/Dropbox.Sign/Model/EventCallbackRequestEvent.cs
  sdks/dotnet/templates/EventCallbackHelper.cs
  sdks/java-v1/docs/EventCallbackRequestEvent.md
  sdks/java-v1/src/main/java/com/dropbox/sign/EventCallbackHelper.java
  sdks/java-v1/src/main/java/com/dropbox/sign/model/EventCallbackRequestEvent.java
  sdks/java-v1/src/test/java/com/dropbox/sign/EventCallbackHelperTest.java
  sdks/java-v1/templates/EventCallbackHelper.mustache
  sdks/java-v2/docs/EventCallbackRequestEvent.md
  sdks/java-v2/src/main/java/com/dropbox/sign/EventCallbackHelper.java
  sdks/java-v2/src/main/java/com/dropbox/sign/model/EventCallbackRequestEvent.java
  sdks/java-v2/src/test/java/com/dropbox/sign/EventCallbackHelperTest.java
  sdks/java-v2/templates/EventCallbackHelper.mustache
  sdks/node/dist/api.js
  sdks/node/docs/model/EventCallbackRequestEvent.md
  sdks/node/model/eventCallbackHelper.ts
  sdks/node/model/eventCallbackRequestEvent.ts
  sdks/node/templates/eventCallbackHelper.mustache
  sdks/node/tests/model/eventCallbackHelper.test.ts
  sdks/node/types/model/eventCallbackRequestEvent.d.ts
  sdks/php/docs/Model/EventCallbackRequestEvent.md
  sdks/php/src/EventCallbackHelper.php
  sdks/php/src/Model/EventCallbackRequestEvent.php
  sdks/php/templates/EventCallbackHelper.mustache
  sdks/php/test/EventCallbackHelperTest.php
  sdks/python/docs/EventCallbackRequestEvent.md
  sdks/python/dropbox_sign/event_callback_helper.py
  sdks/python/dropbox_sign/model/event_callback_request_event.py
  sdks/python/templates/event_callback_helper.mustache
  sdks/python/tests/test_event_callback_helper.py
  sdks/ruby/docs/EventCallbackRequestEvent.md
  sdks/ruby/lib/dropbox-sign/event_callback_helper.rb
  sdks/ruby/lib/dropbox-sign/models/event_callback_request_event.rb
  sdks/ruby/spec/event_callback_helper_spec.rb
  sdks/ruby/templates/event_callback_helper.mustache
  test_fixtures/EventCallbackHelper_AccountCallbacks.json
  test_fixtures/EventCallbackHelper_AppCallbacks.json
Labels: SDK - Dotnet, SDK - Java, SDK - Node, SDK - PHP, SDK - Python, SDK - Ruby

#363 Fixes incorrect HTTP response codes for some endpoints
  openapi-raw.yaml
  openapi-sdk.yaml
  openapi.yaml
  sdks/dotnet/docs/ApiAppApi.md
  sdks/dotnet/docs/TeamApi.md
  sdks/java-v1/docs/ApiAppApi.md
  sdks/java-v1/docs/TeamApi.md
  sdks/java-v1/src/main/java/com/dropbox/sign/api/ApiAppApi.java
  sdks/java-v1/src/main/java/com/dropbox/sign/api/TeamApi.java
  sdks/java-v2/docs/ApiAppApi.md
  sdks/java-v2/docs/TeamApi.md
  sdks/java-v2/src/main/java/com/dropbox/sign/api/ApiAppApi.java
  sdks/java-v2/src/main/java/com/dropbox/sign/api/TeamApi.java
  sdks/node/api/apiAppApi.ts
  sdks/node/api/teamApi.ts
  sdks/node/dist/api.js
  sdks/php/src/Api/ApiAppApi.php
  sdks/php/src/Api/TeamApi.php
  sdks/python/docs/ApiAppApi.md
  sdks/python/docs/TeamApi.md
  sdks/python/dropbox_sign/api/api_app_api.py
  sdks/python/dropbox_sign/api/team_api.py
  sdks/ruby/lib/dropbox-sign/api/api_app_api.rb
  sdks/ruby/lib/dropbox-sign/api/team_api.rb
Labels: bug, documentation, SDK - Dotnet, SDK - Java, SDK - Node, SDK - PHP, SDK - Python, SDK - Ruby

#361 Add callback event for removed signers
  openapi-raw.yaml
  openapi-sdk.yaml
  openapi.yaml
  sdks/dotnet/src/Dropbox.Sign/Model/EventCallbackRequestEvent.cs
  sdks/java-v1/docs/EventCallbackRequestEvent.md
  sdks/java-v1/src/main/java/com/dropbox/sign/model/EventCallbackRequestEvent.java
  sdks/java-v2/docs/EventCallbackRequestEvent.md
  sdks/java-v2/src/main/java/com/dropbox/sign/model/EventCallbackRequestEvent.java
  sdks/node/dist/api.js
  sdks/node/model/eventCallbackRequestEvent.ts
  sdks/node/types/model/eventCallbackRequestEvent.d.ts
  sdks/php/src/Model/EventCallbackRequestEvent.php
  sdks/python/dropbox_sign/model/event_callback_request_event.py
  sdks/ruby/lib/dropbox-sign/models/event_callback_request_event.rb
Labels: SDK - Dotnet, SDK - Java, SDK - Node, SDK - PHP, SDK - Python, SDK - Ruby, MINOR version bump

#368 Fix Node SDK to use different server for OAuth calls
  sdks/node/api/oAuthApi.ts
  sdks/node/bin/replace
  sdks/node/dist/api.js
Labels: bug, SDK - Node
