Repository hellosign/hellosign-openapi, pull requests merged in 2024-02, with the labels that each got.

#344 Reject network calls if response status doesn't fall into considered values
  sdks/node/api/accountApi.ts
  sdks/node/api/apiAppApi.ts
  sdks/node/api/bulkSendJobApi.ts
  sdks/node/api/embeddedApi.ts
  sdks/node/api/oAuthApi.ts
  sdks/node/api/reportApi.ts
  sdks/node/api/signatureRequestApi.ts
  sdks/node/api/teamApi.ts
  sdks/node/api/templateApi.ts
  sdks/node/api/unclaimedDraftApi.ts
  sdks/node/dist/api.js
  sdks/node/templates/api-single.mustache
Labels: bug, SDK - Node

#343 Add Signature Request Edit
  examples/SignatureRequestEdit.cs
  examples/SignatureRequestEdit.java
  examples/SignatureRequestEdit.js
  examples/SignatureRequestEdit.php
  examples/SignatureRequestEdit.py
  examples/SignatureRequestEdit.rb
  examples/SignatureRequestEdit.sh
  examples/SignatureRequestEdit.ts
  examples/json/SignatureRequestEditRequestDefaultExample.json
  examples/json/SignatureRequestEditRequestGroupedSignersExample.json
  examples/json/SignatureRequestEditResponseExample.json
  openapi-raw.yaml
  openapi-sdk.yaml
  openapi.yaml
  sdks/dotnet/README.md
  sdks/dotnet/docs/SignatureRequestApi.md
  sdks/dotnet/docs/SignatureRequestEditRequest.md
  sdks/dotnet/src/Dropbox.Sign/Api/SignatureRequestApi.cs
  sdks/dotnet/src/Dropbox.Sign/Model/SignatureRequestEditRequest.cs
  sdks/java/README.md
  sdks/java/docs/SignatureRequestApi.md
  sdks/java/docs/SignatureRequestEditRequest.md
  sdks/java/src/main/java/com/dropbox/sign/api/SignatureRequestApi.java
  sdks/java/src/main/java/com/dropbox/sign/model/SignatureRequestEditRequest.java
  sdks/node/README.md
  sdks/node/api/signatureRequestApi.ts
  sdks/node/dist/api.js
  sdks/node/docs/api/SignatureRequestApi.md
  sdks/node/docs/model/SignatureRequestEditRequest.md
  sdks/node/model/index.ts
  sdks/node/model/signatureRequestEditRequest.ts
  sdks/node/types/api/signatureRequestApi.d.ts
  sdks/node/types/model/index.d.ts
  sdks/node/types/model/signatureRequestEditRequest.d.ts
  sdks/php/README.md
  sdks/php/docs/Api/SignatureRequestApi.md
  sdks/php/docs/Model/SignatureRequestEditRequest.md
  sdks/php/src/Api/SignatureRequestApi.php
  sdks/php/src/Model/SignatureRequestEditRequest.php
  sdks/python/.openapi-generator/FILES
  sdks/python/README.md
  sdks/python/docs/SignatureRequestApi.md
  sdks/python/docs/SignatureRequestEditRequest.md
  sdks/python/dropbox_sign/api/signature_request_api.py
  sdks/python/dropbox_sign/model/signature_request_edit_request.py
  sdks/python/dropbox_sign/models/__init__.py
  sdks/ruby/.openapi-generator/FILES
  sdks/ruby/README.md
  sdks/ruby/docs/SignatureRequestApi.md
  sdks/ruby/docs/SignatureRequestEditRequest.md
  sdks/ruby/lib/dropbox-sign.rb
  sdks/ruby/lib/dropbox-sign/api/signature_request_api.rb
  sdks/ruby/lib/dropbox-sign/models/signature_request_edit_request.rb
  translations/en.yaml
Labels: SDK - Dotnet, SDK - Java, SDK - Node, SDK - PHP, SDK - Python, SDK - Ruby, MINOR version bump

#346 Fix node sdk after signature request edit feature
  sdks/node/api/signatureRequestApi.ts
  sdks/node/dist/api.js
Labels: SDK - Node

#348 Add new endpoint for editing signature requests created with a template
  examples/SignatureRequestEditWithTemplate.cs
  examples/SignatureRequestEditWithTemplate.java
  examples/SignatureRequestEditWithTemplate.js
  examples/SignatureRequestEditWithTemplate.php
  examples/SignatureRequestEditWithTemplate.py
  examples/SignatureRequestEditWithTemplate.rb
  examples/SignatureRequestEditWithTemplate.sh
  examples/SignatureRequestEditWithTemplate.ts
  examples/json/SignatureRequestEditWithTemplateRequestDefaultExample.json
  examples/json/SignatureRequestEditWithTemplateResponseExample.json
  openapi-raw.yaml
  openapi-sdk.yaml
  openapi.yaml
  sdks/dotnet/README.md
  sdks/dotnet/docs/SignatureRequestApi.md
  sdks/dotnet/docs/SignatureRequestEditWithTemplateRequest.md
  sdks/dotnet/src/Dropbox.Sign/Api/SignatureRequestApi.cs
  sdks/dotnet/src/Dropbox.Sign/Model/SignatureRequestEditWithTemplateRequest.cs
  sdks/java/README.md
  sdks/java/docs/SignatureRequestApi.md
  sdks/java/docs/SignatureRequestEditWithTemplateRequest.md
  sdks/java/src/main/java/com/dropbox/sign/api/SignatureRequestApi.java
  sdks/java/src/main/java/com/dropbox/sign/model/SignatureRequestEditWithTemplateRequest.java
  sdks/node/README.md
  sdks/node/api/signatureRequestApi.ts
  sdks/node/dist/api.js
  sdks/node/docs/api/SignatureRequestApi.md
  sdks/node/docs/model/SignatureRequestEditWithTemplateRequest.md
  sdks/node/model/index.ts
  sdks/node/model/signatureRequestEditWithTemplateRequest.ts
  sdks/node/types/api/signatureRequestApi.d.ts
  sdks/node/types/model/index.d.ts
  sdks/node/types/model/signatureRequestEditWithTemplateRequest.d.ts
  sdks/php/README.md
  sdks/php/docs/Api/SignatureRequestApi.md
  sdks/php/docs/Model/SignatureRequestEditWithTemplateRequest.md
  sdks/php/src/Api/SignatureRequestApi.php
  sdks/php/src/Model/SignatureRequestEditWithTemplateRequest.php
  sdks/python/.openapi-generator/FILES
  sdks/python/README.md
  sdks/python/docs/SignatureRequestApi.md
  sdks/python/docs/SignatureRequestEditWithTemplateRequest.md
  sdks/python/dropbox_sign/api/signature_request_api.py
  sdks/python/dropbox_sign/model/signature_request_edit_with_template_request.py
  sdks/python/dropbox_sign/models/__init__.py
  sdks/ruby/.openapi-generator/FILES
  sdks/ruby/README.md
  sdks/ruby/docs/SignatureRequestApi.md
  sdks/ruby/docs/SignatureRequestEditWithTemplateRequest.md
  sdks/ruby/lib/dropbox-sign.rb
  sdks/ruby/lib/dropbox-sign/api/signature_request_api.rb
  sdks/ruby/lib/dropbox-sign/models/signature_request_edit_with_template_request.rb
  translations/en.yaml
Labels: SDK - Dotnet, SDK - Java, SDK - Node, SDK - PHP, SDK - Python, SDK - Ruby, MINOR version bump

#345 Add warning about sms_phone_number
  openapi-sdk.yaml
  openapi.yaml
  sdks/dotnet/docs/SignatureRequestBulkCreateEmbeddedWithTemplateRequest.md
  sdks/dotnet/docs/SignatureRequestBulkSendWithTemplateRequest.md
  sdks/dotnet/docs/SubSignatureRequestSigner.md
  sdks/dotnet/docs/SubSignatureRequestTemplateSigner.md
  sdks/dotnet/src/Dropbox.Sign/Model/SignatureRequestBulkCreateEmbeddedWithTemplateRequest.cs
  sdks/dotnet/src/Dropbox.Sign/Model/SignatureRequestBulkSendWithTemplateRequest.cs
  sdks/dotnet/src/Dropbox.Sign/Model/SubSignatureRequestSigner.cs
  sdks/dotnet/src/Dropbox.Sign/Model/SubSignatureRequestTemplateSigner.cs
  sdks/java/docs/SignatureRequestBulkCreateEmbeddedWithTemplateRequest.md
  sdks/java/docs/SignatureRequestBulkSendWithTemplateRequest.md
  sdks/java/docs/SubSignatureRequestSigner.md
  sdks/java/docs/SubSignatureRequestTemplateSigner.md
  sdks/java/src/main/java/com/dropbox/sign/model/SignatureRequestBulkCreateEmbeddedWithTemplateRequest.java
  sdks/java/src/main/java/com/dropbox/sign/model/SignatureRequestBulkSendWithTemplateRequest.java
  sdks/java/src/main/java/com/dropbox/sign/model/SubSignatureRequestSigner.java
  sdks/java/src/main/java/com/dropbox/sign/model/SubSignatureRequestTemplateSigner.java
  sdks/node/docs/model/SignatureRequestBulkCreateEmbeddedWithTemplateRequest.md
  sdks/node/docs/model/SignatureRequestBulkSendWithTemplateRequest.md
  sdks/node/docs/model/SubSignatureRequestSigner.md
  sdks/node/docs/model/SubSignatureRequestTemplateSigner.md
  sdks/node/model/signatureRequestBulkCreateEmbeddedWithTemplateRequest.ts
  sdks/node/model/signatureRequestBulkSendWithTemplateRequest.ts
  sdks/node/model/subSignatureRequestSigner.ts
  sdks/node/model/subSignatureRequestTemplateSigner.ts
  sdks/php/docs/Model/SignatureRequestBulkCreateEmbeddedWithTemplateRequest.md
  sdks/php/docs/Model/SignatureRequestBulkSendWithTemplateRequest.md
  sdks/php/docs/Model/SubSignatureRequestSigner.md
  sdks/php/docs/Model/SubSignatureRequestTemplateSigner.md
  sdks/php/src/Model/SignatureRequestBulkCreateEmbeddedWithTemplateRequest.php
  sdks/php/src/Model/SignatureRequestBulkSendWithTemplateRequest.php
  sdks/php/src/Model/SubSignatureRequestSigner.php
  sdks/php/src/Model/SubSignatureRequestTemplateSigner.php
  sdks/python/docs/SignatureRequestBulkCreateEmbeddedWithTemplateRequest.md
  sdks/python/docs/SignatureRequestBulkSendWithTemplateRequest.md
  sdks/python/docs/SubSignatureRequestSigner.md
  sdks/python/docs/SubSignatureRequestTemplateSigner.md
  sdks/python/dropbox_sign/model/signature_request_bulk_create_embedded_with_template_request.py
  sdks/python/dropbox_sign/model/signature_request_bulk_send_with_template_request.py
  sdks/python/dropbox_sign/model/sub_signature_request_signer.py
  sdks/python/dropbox_sign/model/sub_signature_request_template_signer.py
  sdks/ruby/docs/SignatureRequestBulkCreateEmbeddedWithTemplateRequest.md
  sdks/ruby/docs/SignatureRequestBulkSendWithTemplateRequest.md
  sdks/ruby/docs/SubSignatureRequestSigner.md
  sdks/ruby/docs/SubSignatureRequestTemplateSigner.md
  sdks/ruby/lib/dropbox-sign/models/signature_request_bulk_create_embedded_with_template_request.rb
  sdks/ruby/lib/dropbox-sign/models/signature_request_bulk_send_with_template_request.rb
  sdks/ruby/lib/dropbox-sign/models/sub_signature_request_signer.rb
  sdks/ruby/lib/dropbox-sign/models/sub_signature_request_template_signer.rb
  translations/en.yaml
Labels: documentation
