Repository hellosign/hellosign-openapi, pull requests merged in 2024-01, with the labels that each got.

#335 Fix Template Create Default Example
  examples/json/TemplateCreateRequestDefaultExample.json
Labels: code example

#334 Add force_download param to signature request files call
  openapi-raw.yaml
  openapi-sdk.yaml
  openapi.yaml
  sdks/dotnet/docs/SignatureRequestApi.md
  sdks/dotnet/docs/TemplateApi.md
  sdks/dotnet/src/Dropbox.Sign/Api/SignatureRequestApi.cs
  sdks/dotnet/src/Dropbox.Sign/Api/TemplateApi.cs
  sdks/java/docs/SignatureRequestApi.md
  sdks/java/docs/TemplateApi.md
  sdks/java/src/main/java/com/dropbox/sign/api/SignatureRequestApi.java
  sdks/java/src/main/java/com/dropbox/sign/api/TemplateApi.java
  sdks/node/api/signatureRequestApi.ts
  sdks/node/api/templateApi.ts
  sdks/node/dist/api.js
  sdks/node/docs/api/SignatureRequestApi.md
  sdks/node/docs/api/TemplateApi.md
  sdks/node/types/api/signatureRequestApi.d.ts
  sdks/node/types/api/templateApi.d.ts
  sdks/php/docs/Api/SignatureRequestApi.md
  sdks/php/docs/Api/TemplateApi.md
  sdks/php/src/Api/SignatureRequestApi.php
  sdks/php/src/Api/TemplateApi.php
  sdks/python/docs/SignatureRequestApi.md
  sdks/python/docs/TemplateApi.md
  sdks/python/dropbox_sign/api/signature_request_api.py
  sdks/python/dropbox_sign/api/template_api.py
  sdks/ruby/docs/SignatureRequestApi.md
  sdks/ruby/docs/TemplateApi.md
  sdks/ruby/lib/dropbox-sign/api/signature_request_api.rb
  sdks/ruby/lib/dropbox-sign/api/template_api.rb
  translations/en.yaml
Labels: SDK - Dotnet, SDK - Java, SDK - Node, SDK - PHP, SDK - Python, SDK - Ruby, MINOR version bump

#339 Node SDK error code range handling fix.
  sdks/node/api/apiAppApi.ts
  sdks/node/api/signatureRequestApi.ts
  sdks/node/api/teamApi.ts
  sdks/node/api/templateApi.ts
  sdks/node/dist/api.js
  sdks/node/templates/api-single.mustache
Labels: bug, SDK - Node, MINOR version bump
